body {
  background-image: url("p.png");
  background-color: hsl(50, 33%, 25%);
  background-repeat: no-repeat;
  background-image: cover;

  background-image: url(".jpg");
  background-repeat: no-repeat;
  background-image: cover;
}

.div1 {
  text-align: center;
  background-color: #f5dea3;
  height: 900px;
  width: 600px;

  display: inline-block;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
