body
{
	background-image:url(".jpg");
	background-color:#e01171;
	background-repeat:no-repeat;
	background-image: cover;
}
.div1
{
	text-align: center;
	background-color:#f5dea3;
	height: 1600px;
	width: 600px;

	display: inline-block;


}
