body
{
	background-image:url(".jpg");
	background-color:#35495e;
	background-repeat:no-repeat;
	background-image: cover;
}
.div1
{
	text-align: center;
	background-color:#f5dea3;
	height: 300px;
	width: 200px;
	display: inline-block;


}

